.question-appear {
    opacity: 0.01;
}
.question-appear.question-appear-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.question-enter {
    opacity: 0.01;
}
.question-enter.question-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.question-leave {
    opacity: 1;
}
.question-leave.question-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}


li.list-group-item.answer,
li.list-group-item.answer.no-hover:hover {
    color:inherit;
    background-color: inherit;
    transition: background-color 200ms ease-in, color 200ms ease-out;
}
li.list-group-item.answer:hover {
    color:white;
    background-color: #2098d1;
    transition: background-color 300ms ease-out, color 300ms ease-in;
}
li.list-group-item.answer.selected.right,
li.list-group-item.answer.right.no-hover:hover{
     color:white;
     background-color: #27CA1F;
     transition: background-color 300ms ease-out, color 300ms ease-in;
     transition-delay: 800ms;
}
li.list-group-item.answer.selected.wrong,
li.list-group-item.answer.selected.wrong.no-hover:hover {
    color:white;
    background-color: #CA1F3F;
    transition: background-color 300ms ease-out, color 300ms ease-in;
    transition-delay: 800ms;
}

li.list-group-item.answer.unselected.right,
li.list-group-item.answer.unselected.right.no-hover:hover{
    color:white;
    background-color: #27CA1F;
    transition: background-color 300ms ease-out, color 300ms ease-in;
    transition-delay: 800ms;
    animation-name: right-pulse;
    animation-duration: .7s;
    animation-delay: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes right-pulse {
    25% {
        background-color: #27CA1F;
    }

    75% {
        background-color: #9DCA9B;
    }
}

.DF-label { display: inline; }
.DF-value { display: inline; }


/*//git clone https://glantucan@bitbucket.org/glantucan/rocka_react.git*/

.score-header {
    font-size: 34px;
    text-align: center;
    padding-bottom: 25px;
}

.lives {
    text-align: left;
    font-size: 26px;
}
.score {
    text-align: right;
    font-size: 26px;
}

.question-container {
    margin:auto;
    width:80%;
    font-size: 18px;
}
/*

.level {
    position:absolute;
    !*margin:auto;
    left:30%;
    right:30%;
    width:40%;
    text-align-all: center;*!
}

.level{
    font-size: 40px;
    font-weight: 900;
}

.score-header {
    position: absolute;
    left:0;
    width:100%;
}

.lives {
    top:1%;
    position: absolute;
    font-size: 20px;
    font-weight: 900;
    width:15%;
    text-align: center;
    line-height: 1em;
}
.lives .DF-label { display: block; }
.lives .DF-value { display: block; font-size:26px }

.score {
    right:0;
    top:1%;
    position: absolute;
    width:15%;
    font-size: 20px;
    font-weight: 900;
}

*/
